WORK_ACCOUNT_USERNAME=your_work_account_username
WORK_ACCOUNT_TOKEN=your_work_account_token

PERSONAL_ACCOUNT_USERNAME=your_personal_account_username
PERSONAL_ACCOUNT_TOKEN=your_personal_account_token
